*{  margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header {
    width: 100%;
    height: 80px;
    display: block;
    margin: 0 auto;
    background-color: #101010;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: Lobster, fantasy;
    font-size: 32px;
    font-weight: 200;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;

}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 130%;
    color: white;
    font-family: Lobster, fantasy;
    font-size: 32px;


}

a.disabled {
    width: 155.5px;
    height: 80px;
    color: white;
    background-color: #101010;
    font-family: Lobster, fantasy;
    border: none;

}

.loginButton {
    color: #101010;
    background-color: white;
    font-family: Lobster, fantasy;
    border: #101010;
    font-size: 20px;
}

.removedStyle, .manyFilmsStyle, .oneFilmStyle{
    color: #101010;
    background-color: white;
    font-family: Lobster, fantasy;
    border: none;
    font-size: 20px;
}

.removedButton, .manyFilmsButton , .oneFilmButton{
    color: #101010;
    background-color: white;
    font-family: Lobster, fantasy;
    border: none;
    font-size: 37px;
}

.logoTextStyle {
    color: #101010;
    font-size: 70px;
}


.oneFilmUl , .manyFilmsUl  {
    border: 1px solid #101010;
    padding: 0 10px;
}

.loginDiv {
    width: 371px;	height: 100px;
    background: white;
    outline: 1px solid #000;
    border: 39px solid #fff;
    border-radius: 10px;
}

.loginBut {
    outline: 5px solid #000;
    border: 0px solid #fff;
    background: #ffa71d;
}

.loginTable {
    outline: #101010;
    border:  1px white;
}

